@import "../../../theme/colours.scss";
@import "../../../theme/common.scss";

.container {
  @extend .panelContainer;
}

.message {
  // background-color: red;
  display: flex;
  padding-top: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  // max-width: 40vw;
  .name {
    margin-right: 1rem;
  }
  .timeStamp {
    color: $greyText100;
    font-size: 16;
  }
  .content {
    line-height: 1.7;
    padding-right: 0rem;
    word-break: break-word;
  }
  .status {
    color: $greyText200;
  }
  .button {
    height: 1.5rem;
    font-size: 0.8rem;
    width: 5rem;
    border-radius: 0.2rem;
    font-family: "Open Sans", "Arial", "sans-serif";
    font-weight: 600;
    margin-top: 0.5rem;
  }
  .deleteButton {
    @extend .button;
    margin-left: 1rem;
  }
  .cancelButton {
    @extend .deleteButton;
    color: red;
  }
  .saveButton {
    @extend .button;
    color: green;
  }
  .action {
    @extend .status;
    font-style: italic !important;
  }
}
